@charset "UTF-8";
body {
	font-size: 12px;
}
table {border-collapse: collapse; width:850px; margin: 10px auto;}
td, th, #comments textarea#commentWrite {border: 1px solid pink; text-align: center; padding:10px;}
textarea{width:90%;}
input[type='text'], textarea:not(#commentWrite)   {width:97%; padding: 3px;}
caption {font-size: 25px; padding:10px;}
h2{text-align: center; }
a { text-decoration: none;}
.left{text-align: left;}
.paging {text-align: center;}
b {color:red;}
#comments {
	width:850px; margin: 10px auto;
}