/* * * * * * * 페이지 초기화 * * * * * * */
* {padding:0; margin:0;}
div {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
/* * * * * * * 페이지 전체를 가운데로 * * * * * * */
#wrap {
  width: 800px;
  margin: 10px auto;
  position: relative;
}
/* * * * * * * header * * * * * * */
#header {
  height: 90px;
  line-height: 90px;
  background-color: yellow;
}
#nav {
  height: 100px; /*높이를 지정하지 않으면 서브메뉴 들어갈 때 넓어짐*/
  padding-top: 10px;
}
#nav > ul{ /* 자손선택자 */
  width:720px;
  margin:10px auto;
  overflow:hidden;
}
#nav ul > li{ /* 자손선택자 */
  float:left;
  list-style: none;
  background-color: pink;
  margin: 2px;
  padding:10px;
  width:120px;
}
#nav ul li a{
  text-decoration: none;
  color: purple;
  font-weight: bold;
  display: block;
  height: 30px;
  line-height: 30px;
}
#nav > ul > li:first-child{
  border-radius: 20px 0 0 20px;
}
#nav > ul > li:last-child{
  border-radius: 0 20px 20px 0;
}
/* * * * * * * section * * * * * * */
#section {
  overflow: hidden;
  /*width:778px; 전체 800px에서 margin과 padding, border 뺀 것*/
}
/* 622 = 600 + 22(좌우 margin + 좌우padding + 좌우 border) */
#section #content{
  float:left; height:300px; width:600px; 
}
/* 156 = 134 + 22(좌우margin + 좌우 padding + 좌우 border) */
#section #banner {
  float: left; height: 300px; width: 134px;
}
/* * * * * * * footer * * * * * * */
#footer{
  height: 90px;
  line-height: 90px;
  background-color: yellow;
}
/* * * * * * * background image * * * * * * */
#background_image {
  background: url('back.jpg') right bottom no-repeat;
  /*position이 왼쪽에서 100%, 위쪽에서 100%위치에 배경 배치 */
  background: url('back.jpg') 100% 100% no-repeat;/*위와 동일 */
  background: url('back.jpg') 40% 100% no-repeat;
  background-size:120%;
  width:100%; height:100%;
  position:absolute;
  left:0 ; top:0;
  margin:0; padding:0;
  z-index:-9; /* 겹쳤을 때 뒤로 */
  opacity:0.3;
}