#wrap {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid gray;
}
#wrap #content p:nth-child(1) {
    font-size: 2em;
    text-align: center;
    line-height: 100px;
    text-decoration: underline;
}
#wrap #content p:nth-child(2) {font-size: 1.2em;font-weight: bold;}
#wrap #content p:nth-child(3) {padding: 10px;}
#wrap #content p:nth-child(4) {font-size: 1.2em;text-align: right;}
#wrap footer {
    border-top : 1px solid gray;
}
#wrap footer  p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
}
#wrap footer p a:after {content: ' - ' attr(href)}
#wrap footer p a{text-decoration: none; color:blue;}