@charset "UTF-8";
@font-face {
    font-family: 'Amarante';
    src: url('../font/Amarante-Regular.ttf');
}
/* * * * * * * 페이지 초기화 * * * * * * */
* { margin: 0; padding: 0;
  font-family:'Amarante', 'Times New Roman', serif;
}
a{text-decoration:none; color:black;}
li{list-style:none;}
/* * * * * * * #header_nav * * * * * * */
header #header_nav{
  min-width: 900px; /* 최소한의 가로 사이즈 */
  height: 25px;
  line-height: 25px; /* 수직 가운데 정렬은 텍스트만 적용 (img에는 적용 안 됨)*/
  background-color: #2d1152;
  font-size: 0.9em;
  overflow: hidden; 
}
header #header_nav a{color:white;}
header #header_nav .gnb {
  width:660px; margin-left: 3px;
}
header #header_nav .gnb ul li{
  float: left; width:60px;
  text-align:center; /* 수평 가운데 정렬은 텍스트와 img에 적용 */
}
header #header_nav .survivalFootball p{
  float:right; font-size:.9em; margin-right:10px;
}
header #header_nav .survivalFootball img{width:16px;padding:5px;}

