@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
#main {
	max-width: 1000px;
	margin: auto;
}
#main .groupContent_detailHeader .groupDetail_title{
	margin: 10px;
	font-size: 2em;
	font-weight: bold;
	white-space: no-wrap;
			text-overflow: ellipsis;
			overflow: hidden;
}
#main .groupContent_detailHeader .groupDetail_writer .mimage img {
	width: 40px;
	border-radius: 100%;
}
#main .groupContent_detailHeader .groupDetail_writer .mimage {
	float: left;
	margin-right: 20px;
}
#main .groupContent_detailHeader .groupDetail_writer .mid {
	height: 40px;
	float: left;
	line-height: 40px;
}
#main .groupContent_detailHeader .groupDetail_writer .mid:after {
	clear: both;
	display: block;
	content: '';
}
#main .groupContent_detailHeader .groupDetail_writer .grdate{
	float: right;
	display: inline-box;
	height: 40px;
	line-height: 40px;
	font-size: 0.9em;
	color: gray;
}
#main .groupContent_detailHeader .groupDetail_writer .grdate:before {
	clear: both;
	display: block;
	content: '';
}
#main .groupContent_detailHeader .groupContent_detail {
}
#main .groupContent_detailHeader .groupContent_detail ul li {
	float: left;
	width: 50%;
	margin-bottom: 15px;
}
#main .groupContent_detailHeader .groupContent_detail ul li:before {
	clear: both;
	display: block;
	content: '';
}
#main .groupContent_detailHeader #mygroup_nav ul li p {
	padding: 0;
	margin: 0 2.5%;
	float: left;
	width: 20%;
	text-align: center;
	background-color: #eeeeee;
}
#main .groupContent_detailHeader #mygroup_nav ul li p:hover {
	cursor: pointer;
}
#main .groupContent_detailContentWrapper {
	width: 100%;
}
.groupContent_detailContentWrapper pre {
	white-space: normal;
	font-size: 1em;
}
#main .groupContent_btns {
	text-align: center;
}
#main .groupContent_detail {
	padding-top: 30px;
	background-color: #F4F4F4;
}
.contentInput_buttonWrapper {
	text-align: center;
	margin-top: 20px;
}
@media screen and (max-width: 760px) {
		#main .groupContent_detailHeader .groupContent_detail {
		 font-size: 0.8em;
	}
}